{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row align-content-center">
        <div class="col-md-6 text-start ">
            <h1>About Real Estate</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea eaque! Nulla dolor quo officia
                voluptas illo enim soluta aliquam. Repellat laborum veritatis, expedita neque ipsa velit odit
                praesentium consequatur!
            </p>
        </div>
        <div class="col-md-6">
            <img class="img rounded img-fluid" src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                alt="Background Image">
        </div>
    </div>
</div>
{% endblock content %}